# Dependencies
node_modules/

# Build output
out/
dist/

# Packaging output
release/
dist/

# Test coverage
coverage/
*.lcov

# Logs
*.log
*.log.*
npm-debug.log*

# Environment files
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# ESLint cache
.eslintcache

# TypeScript build info
*.tsbuildinfo

# Vite logs
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
